nav{
    display: grid;
    grid-template-columns: 1fr $socwidthmax;
div{
grid-column-start: 2;
display:grid;
grid-template-columns: 1fr $socwidthmin;
grid-template-rows: 39px;
transition-duration: $speed;
font-size: 0px;
width: $socwidthmax;
a{
    color:$white;
}
span{
    text-align: center;
    grid-column-start: 2;
    line-height: 12px;    
}
.blog{
    background-color: #e17b77;
    background-image: url(../blog.png);
    @include logo();
}
.facebook{
    background-color: #3b5998;
    background-image: url(../facebook.png);
    @include logo();
}
.twitter{
    background-color: #00aced;
    background-image: url(../twitter.png);
    @include logo();
}
.github{
    background-color: #333;
    background-image: url(../github.png);
    @include logo();
}
.linkedin{
    background-color: #007bb6;
    background-image: url(../linkedin.png);
    @include logo();
}
}
div:hover{
    grid-template-columns: 1fr $socwidthmax;
    font-size: 15px;
}
}